@import '~imports.styl'
@import './mole-scene.styl'

.mole-hand
  width             49*PX
  height            129*PX
  background        url('./i/mole-hand.svg') no-repeat center center
  position          absolute
  nw                50%
  margin-left      -25*PX 
  margin-top       -40*PX
  transform-origin  center gs
  &--squash
    margin-top      -70*PX

size = 4
.path-easing-rectangle
  rect          size*gs
  background    c-purple
  position      absolute
  top           4*gs
  left          50%
  margin-left  -(size/2)*gs
  border-radius BRADIUS
  
  &--quake
    top         50%
    margin-top -(size/2)*gs
    
  &--eased-quake
    top         2*gs
  
  size = 140
  &--extreme-ease
    border-radius 100%
    rect          size*PX
    centerize     size/2
  
  &--jump
    top           auto
    bottom        6*gs
    transform-origin center bottom
  &--paused-jump
    transform-origin center bottom
    
.mole-skew-sample
  transform     scale(.75)
  

.mole-tongue-example
  width         100*PX
  height        60*PX
  border-radius BRADIUS 
  // border-radius 50%
  border        2*PX solid white
  position      absolute
  nw            50%
  margin-left  -50*PX 
  margin-top   -30*PX 
  overflow      hidden
  &__tongue
    rect 100%
    border-radius BRADIUS
    position    absolute
    nw          0
    margin-left -100*PX 
    svg
      rect 100%

.path-easing-tutorial
  &__repeatative
    width         140*PX
    height        240*PX
    background    rgba(#5F325A, .75)
    position      absolute
    z-index       5
    top           5.9*gs
    left          12.2*gs
    
  size = 120
  &__property-curve-task-0
    background    c-purple
    centerize     size
    circle        size*PX
    &--1
      transform-origin center bottom
      
  &__property-curve-task-1
    width         4*PX
    // width         30*PX
    height        120*PX
    background    c-purple
    border-radius 25*BRADIUS
    position      absolute
    left          5*gs
    top           10*gs
    transform-origin center bottom
    &--fat
      width       4*gs


