
elWidth  = 397
elHeight = 276
.motion-lettering
  width             elWidth*PX
  height            elHeight*PX
  background        url('../i/motion-lettering.svg') no-repeat center center
  background-size   100% auto
  opacity           1
  +mobile()
    width       .52*elWidth*PX
    height      .52*elHeight*PX
    