
.page
  padding-top       5*gs
  padding-bottom    21.5*gs
  position          absolute
  width             100%
  min-height        100%
  nw                0
  background        c-purple url('./i/pattern.png') repeat
  +desktop()
    padding-bottom  16*gs
  +tablet()
    padding-bottom  15.5*gs
  +mobile()
    padding-top     1px
    padding-bottom  8*gs
  &:after
    content       ''
    position      absolute
    sw            0
    height        1.5*gs
    width         100%
    background    rgba(white, .2)