doctype
html
  head
    meta(charset='UTF-8')
    title mo · js :: motion graphics for the web
    link(rel="stylesheet", type="text/css", href="css/main.css")
    meta(name="viewport", content="width=device-width, user-scalable=no")

  body
    script(src="dist/app.js")
