c-orange   = #F64040
c-pink     = #FC46AD

c-green    = #00F87F
c-yellow   = #FFE952
c-cyan     = #31FFD1
// c-blue     = #00D7FC
c-blue     = #00AADA
c-purple   = #3A0839
c-purple-2 = #4E214D
c-white    = #F1E2E2

c-white-transparent = rgba(white, .2)
c-white-semi        = rgba(white, .97)
c-creamy-semi       = rgba(241, 226, 215, .2)
