@import './imports'

// Gutter size
gls = gs
gutterSizes = 10
gridSize = 12
part = (100/gridSize)%
.grid
  clearfix()
  // gutters
  for i in 0..gutterSizes
    &--gutter-x{i}
      .grid-bit
        padding-left    (i*gls/2)
        padding-right   (i*gls/2)
        &:last-of-type
          padding-right i*gls/2
        & + .grid-bit
          padding-left: (i*gls/2)
  for i in 0..gutterSizes
    &--row-gutter-x{i}
      .grid-row
        padding-top i*gls
        padding-bottom: (i*gls/2)
        &:last-of-type
          padding-bottom i*gls
        & + .grid-row
          padding-top: (i*gls/2)
  &--sliced
    .grid-bit
      &:first-of-type
        padding-left 0
      &:last-of-type
        padding-right 0

.grid-row
  clearfix()

.grid-bit
  float left
  padding-left gls
  padding-right: (gls/2)
  &:last-of-type
    padding-right gls/2
  & + .grid-bit
    padding-left: (gls/2)
  for i in 1..gridSize
    &--{i}-{gridSize}
      width i*part
  