@import './imports'

.icon
  display   block
  // rect      32*PX
  position  relative
  &__svg
    display   block
    position  absolute
    nw        0
    fill      inherit
    stroke    inherit
    rect      100%
