.code-block
  color             white
  font-size         13*PX
  &__header,
  &__footer
    padding-left    .5*gs
  &__header
    letter-spacing  2*PX
  &__body
    background      rgba(white, .2)
    padding         2*gs 2.5*gs
    margin          gs 0
    border-radius   BRADIUS
    font-family     inherit
    letter-spacing  2*PX
    position        relative
    display         block
    overflow-x      auto
    // width           100%
  &__footer
    letter-spacing  PX
    font-size       12*PX
    a
      color             c-orange
      text-decoration   none
    