{el = '.feature'}
  color       white
  text-align  center
  width       20*gs
  &__image
    width   98*PX
    height  67*PX
    retina '../i/feature-fast'
    margin-bottom 3.5*gs
    fly()
  &__header
    font-size       18*PX
    letter-spacing  1.7*PX
    margin-bottom   gs
  &__text
    opacity         .5
    font-size       12*PX
    letter-spacing  PX
    line-height     1.85
  &--retina
    {el}__image
      rect 72*PX
      retina '../i/feature-retina'
    {el}__header
      margin-top -.5*gs
  &--simple
    {el}__image
      width  68*PX
      height 72*PX
      retina '../i/feature-simple'
    {el}__header
      margin-top -.5*gs
  &--modular
    {el}__image
      width  81*PX
      height 74*PX
      retina '../i/feature-modular'
  &--robust
    {el}__image
      width  140*PX
      height 100*PX
      retina '../i/feature-robust'
    {el}__header
      margin-top -2.6*gs
  &--open-sourced
    {el}__image
      width  76*PX
      height 78*PX
      retina '../i/feature-open-sourced'
    {el}__header
      margin-top -.4*gs
  
  // +mobile()
  //   {el}
  //     &__image
  //       float left
      
    