mobileScaleAmount = .80
{el = '.motion-demo'}
  overflow       hidden
  +mobile()
    overflow   visible
  &__header
    font-size       13*PX
    color           white
    letter-spacing  2*PX
    padding-left    .5*gs
  ghostWidth  = 399
  ghostHeight = 274
  &__ghost,
  &__play,
  .motion
    transition opacity .35s linear, z-index .35s linear
  &__ghost
    transition-delay .15s
  &__ghost
    width           ghostWidth*PX
    height          ghostHeight*PX
    margin-left    -(ghostWidth/2 + 25*PX)*PX
    margin-top     -10.8*gs
    opacity         .2
    position        absolute
    nw              50%
    background      url('../i/motion-demo.svg')
    background-size 100% 100%
    +mobile()
      width         mobileScaleAmount*ghostWidth*PX
      height        mobileScaleAmount*ghostHeight*PX
      margin-left  -14.8*gs
      margin-top   -10.2*gs
  &__play
    border              1.8*gs solid transparent
    border-left-width   3*gs
    border-left-color   white
    position            absolute
    nw                  50%
    margin-top         -2*gs
    margin-left        -4*gs
    z-index             1
    rect                0
    &:hover
      opacity           .85
      cursor            pointer
    &:after
      content         'play'
      position        absolute
      top             -.8*gs
      left            1.5*gs
      color           white
      letter-spacing  2*PX
      font-size       12*PX
    &:before
      content         ''
      position        absolute
      width       8*gs
      height      4*gs
      left       -3*gs
      top        -2*gs
      z-index     1
  .motion
    margin-top   -8.5*gs
    opacity       0
    fly()
    +mobile()
      transform   scale(.8)
      margin-top -11*gs
    @media all and (max-width: 510px)
      left          50%
      transform     scale(.8) translateX(-59%)
  &.is-play
    opacity       1
  &.is-play
    {el}__ghost
      opacity     0
    {el}__play
      opacity     0
      z-index    -1
    .motion
      opacity           1
      transition-delay  .5s

