// units
PX      = (1/16)rem
gs      = 10*PX
BRADIUS = 4*PX

// z-indexes
baseLayer   = 0
modalLayer  = 10 
headerLayer = 30

desktop()
  @media all and (max-width: 1024px)
    {block}
tablet()
  @media all and (max-width: 768px)
    {block}
mobile()
  @media all and (max-width: 640px)
    {block}

// mixins
rect()
  width   arguments
  height  arguments
  
circle()
  border-radius 50%
  rect          arguments
    
nw()
  left    arguments
  top     arguments
ne()
  right   arguments
  top     arguments
sw()
  left    arguments
  bottom  arguments
se()
  right   arguments
  bottom  arguments
  
centerize(size)
  position      absolute
  nw            50%
  margin-left   (- size/2)*PX
  margin-top    (- size/2)*PX
  size

fly()
  margin-left   auto
  margin-right  auto

retina(path, color=transparent)
  background color url(path+'.png') no-repeat center center
  background-size 100% 100%
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi)
    background color url(path+'@2x.png') no-repeat center center
    background-size 100% 100%
    
hl(color=deeppink, size=1px)
  outline size solid color

clearfix()
  zoom 1
  &:after, &:before
    content ''
    display table
  &:after
    clear both