PX = (1/16)rem
gs = 10*PX

rect()
  width  arguments
  height arguments
  
nw()
  top arguments
  left arguments

easy-click()
  &:after
    content ''
    position absolute
    rect 200%
    z-index 1
    nw -50%
  
mainColor     = lighten(#595959, 20)
normalOpacity = .5
hoverOpacity  = 1
.controls
  padding-bottom .5*gs
  position relative
  visibility hidden
  opacity 0
  transition all .5s linear
  &.is-shown
    visibility visible
    opacity 1
  &__repeat, &__pin, &__sound
    position absolute
    z-index 1
    cursor pointer
    easy-click()
    transition all .25s linear
    &:active
      transform scale(1.4)
      transition-duration 0
  &__repeat
    left .6*gs
    top PX
  &__pin
    left 3*gs
    top 0
    &.is-pinned
      transform rotate(-42deg) //translate(2*PX,-2*PX)
      .motion-demo-icon
        fill white
        opacity .75
  &__sound
    left 5.7*gs
    top 0
    &.is-on
      .motion-demo-icon
        fill white
        opacity .75
  &__timeline
    padding-left  8.5*gs
    position      relative
    top          -.5*gs
    
.motion-demo-icon
  fill mainColor
  opacity normalOpacity
  overflow hidden
  cursor pointer
  position relative
  display block
  width  18*PX
  height 18*PX
  user-select none
  touch-action none
  &:after
    hl green
  &--repeat
    rect 18*PX
  &:hover
    opacity hoverOpacity
  &:active
    opacity normalOpacity

canvasWidth  = 48*gs
canvasHeight = 40*gs
.motion
  position relative
  width  canvasWidth
  height canvasHeight
  &__controls
    position absolute
    width 75%
    left 9%
    bottom 2*gs
    z-index 1
.svg-canvas
  &__svg
    rect 100%
    position absolute
    nw 0

trackHeight = 1*PX
thumbSize   = 16px
input[type=range]
  -webkit-appearance none
  width 100%
  opacity normalOpacity
  &:active, &:hover
    opacity 1
  &:focus
    outline none
    &::-webkit-slider-runnable-track
      background mainColor
    &::-ms-fill-lower
      background mainColor
    &::-ms-fill-upper
      background mainColor
  &::-webkit-slider-runnable-track
    width         100%
    height        trackHeight
    cursor        pointer
    animate       0.2s
    background    mainColor
    border-radius 1.3px
  &::-webkit-slider-thumb
    height        thumbSize
    width         thumbSize
    border-radius 50%
    background    mainColor
    cursor        pointer
    -webkit-appearance none
    margin-top    -(thumbSize/2)
  &::-moz-range-track
    width         100%
    height        trackHeight
    cursor        pointer
    animate       0.2s
    background    mainColor
    border-radius 50%
  &::-moz-range-thumb
    height        thumbSize
    width         thumbSize
    border-radius 50%
    background    mainColor
    border-width  0
    cursor        pointer
  &::-ms-track
    width        100%
    height       trackHeight
    cursor       pointer
    animate      0.2s
    background   transparent
    color        transparent
  &::-ms-fill-lower
    background    mainColor
    border-radius 50%
  &::-ms-fill-upper
    background    mainColor
    border-radius 50%
    height        thumbSize
    width         thumbSize
    background    mainColor
    cursor        pointer

