@import '../imports.styl'

{el = '.cite'}
  position        relative
  padding         PX 0 PX 3.5*gs
  // border-left     2*PX solid c-orange
  font-size       16*PX
  line-height     3*gs
  text-align      justify
  max-width       56*gs
  margin-bottom   5*gs
  +mobile()
    text-align    left
  &:before
    content       ''
    width         2*PX
    background    c-orange
    position      absolute
    left          1.5*gs
    top           - .3*gs
    bottom        - .3*gs
  &__inner
    margin-top     - gs + PX
    margin-bottom  - gs + PX
    +mobile()
      margin-top    - 2.8*gs
      margin-bottom - 2.8*gs
  &__author
    font-family   Verdana
    font-style    italic
    position      absolute
    right         0
    opacity       .65
    &:before
      content '- '
  &__shapes
    position      absolute
    left        - 4*gs
    top           50%
    margin-top  - gs
    transform     rotate(90deg)
    +mobile()
      &
        left    - 3.5*gs
      

