@import '../imports.styl'


codeSampleBorder()
  border 2*PX solid c-purple-2

{el = '.code-sample'}
  &__syntax
    border-top-left-radius  BRADIUS
    border-top-right-radius BRADIUS
    position                relative
    height                  19.4*gs
    codeSampleBorder()
    border-bottom           0
    .line-numbers
      display               none
      // +mobile()
      //   white-space         pre-wrap
      &.is-show
        display             block
  &__buttons
    position                absolute
    z-index                 1
    right                   0
    +mobile()
      width                 100%
      padding-left          3.7*gs
  buttonHeight = 3
  buttonWidth  = 5
  &__button
    text-align              center
    line-height             buttonHeight*gs
    float                   left
    cursor                  pointer
    color                   c-white-transparent
    height                  buttonHeight*gs
    width                   buttonWidth*gs
    font-size               14*PX
    z-index                 2
    &:hover,
    &.is-show
      background            c-purple-2
      color                 inherit
    &.is-show
      cursor                default
    +mobile()
      width                 (100/3)%
  mobilePaddingTop = 4.5
  &__code
    padding-top     2*gs
    padding-bottom  2.5*gs
    padding-left    2.5*gs
    background      rgba(c-purple, .6)
    font-size       15*PX
    +mobile()
      padding-top   mobilePaddingTop*gs
    .line-numbers-rows
      padding-top     2*gs
      padding-bottom  2*gs
      font-size       14*PX
      line-height     1.5
      background      c-purple-2
      +mobile()
        padding-top   mobilePaddingTop*gs
      > span
        opacity       .5
        margin-right  1.2*gs
  &__codes
    overflow-x        auto
    z-index           1
  &__pen
    // margin-left     - PX
    height            330*PX
    
  &.is-alone
    {el}__syntax
      border-bottom-left-radius  BRADIUS
      border-bottom-right-radius BRADIUS
      codeSampleBorder()
    {el}__code
      margin-top                -2*PX
      padding-bottom             18*PX
    {el}__pen
      display                    none



    