@import '../imports.styl'
@import '../blocks/easing-graph-line.styl'

{el = '.easing-graph'}
  rect            320*PX
  overflow hidden
  // background      c-creamy-semi
  background      #5F325A url('../i/pattern.png') repeat
  border-radius   BRADIUS
  position        relative
  line-height     1.8
  size = 200
  &__center
    rect                  size*PX
    centerize             size
    // data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSJ0cmFuc3BhcmVudCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJyZ2JhKDI0MSwgMjI2LCAyMTUsIC4xNSkiPjwvcmVjdD4KPC9zdmc+
    background            rgba(c-purple, .98) url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSJ0cmFuc3BhcmVudCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJyZ2JhKDI0MSwgMjI2LCAyMTUsIC4yKSI+PC9yZWN0Pgo8L3N2Zz4=")
    background-position   2*PX 2*PX
    border-radius         BRADIUS
    // .easing-graph-part
    //   z-index             1
    
  &__small-label
    font-size     6*PX
    position      absolute
    opacity       .5 
    &--zero
      ne          100%
    &--one
      sw          100%
    
  &__label
    font-size         6*PX
    letter-spacing    PX
    background-color  inherit
    position          absolute
    z-index           0
    padding           0 7*PX
    white-space       nowrap
    &--progress
      top             100%
      left            50%
      transform       translateX(-50%)
      border-bottom-left-radius  BRADIUS
      border-bottom-right-radius BRADIUS
    &--custom
      nw              50%
      transform       translate(-50%, -100%)
      border-top-left-radius  BRADIUS
      border-top-right-radius BRADIUS
  // wrapper to posit &--custom label
  &__custom-label-wrapper
    rect             0
    position         absolute
    top              50%
    transform        rotate(-90deg)
    background-color inherit
      
  &__line-wrapper
    height          100%
    width           0
    // z-index         1
    // position relative
    
{ el = '.easing-graph-part' }
  position absolute
  rect 100%
  
  size = 8
  &__point
    circle          size*PX
    margin-left     -(size/2)*PX
    margin-top      -(size/2)*PX
    background      c-orange
    position        absolute
    top             100%
    z-index         2
  .easing-graph-line
    position absolute
    
  &__graph
    position        absolute
    nw              0
    rect            100%
    svg
      overflow      visible
      position      absolute
      rect          100%
    path
      fill              none
      stroke            white
      stroke-width      1*PX
      stroke-miterlimit 0
      stroke-linecap    round

