@import '../imports.styl'

{ el = '.easing-object-graph' }
  text-align center
  clearfix()
  .easing-object,
  .easing-graph
    float left
  &__inner
    text-align  left /* hello ie */
    text-align  initial
    display     inline-block
  .easing-object
    border-top-right-radius    0
    border-bottom-right-radius 0
  .easing-graph
    border-top-left-radius     0
    border-bottom-left-radius  0
    