@import '../imports.styl'
@import '../blocks/easing-graph-line.styl'

    
{ el = '.easing-graph-part' }
  position absolute
  rect 100%
  z-index 1
  size = 8
  &__point
    circle          size*PX
    margin-left     -(size/2)*PX
    margin-top      -(size/2)*PX
    background      c-orange
    position        absolute
    top             100%
    z-index         2
  // .easing-graph-line
  //   position absolute
    
  &__graph
    // position        absolute
    // nw              0
    // rect            100%
    // svg
    //   overflow      visible
    //   position      absolute
    //   rect          100%
    path
      fill              none
      // stroke            white
      stroke-width      1*PX
      stroke-miterlimit 0
      stroke-linecap    round

