@import '../imports.styl'

{ el = '.easing-graph-label-part' }
  display         inline-block
  .is-safari &
    font-weight 900
  & + {el}
    margin-left   .5*gs 
  &__circle
    background    white
    display       inline-block
    margin-right  .5*gs 
    circle        5*PX
  &__label
    display     inline-block


