@import '../imports.styl'
@import '../blocks/sandwich-menu.styl'

.headroom
  transition all .3s ease-out
  
{el = '.header'}
  position    fixed
  z-index     headerLayer
  width       100%
  transform   translateZ(0)
  transition  all .3s ease-out
  nw          0
  &.is-show-menu
    {el}__link
      transform   rotateY(0) translateZ(0)
      transition  all .3s ease-out
    {el}__links-inner
      for i in 1..5
        &:nth-of-type({i})
          {el}__link
            transition-delay (i*.07)s
    {el}__links
      opacity     1
      top         55*PX
      transition-delay 0s, 0s
  &__links
    float         right
    padding-top   3*gs
    padding-right gs
    +mobile()
      background  c-white-semi
      float       none
      position    absolute
      opacity     0
      right       0
      top         -25*gs
      text-align  center
      padding     2*gs gs
      // opacity     0
      border-radius BRADIUS
      border-top-right-radius 0
      transition  opacity .3s ease-out, top 0s linear
      transition-delay 0s, .3s
      @media all and (max-height: 240px)
        padding   gs 0
  &__links-inner
    display inline-block
    +mobile()
      display block
  &__link
    color             c-orange
    display           inline-block
    margin            0 2*gs
    font-size         13*PX
    letter-spacing    PX
    text-decoration   none
    +mobile()
      // display         block
      margin-top      1.8*gs
      transform       rotateX(90deg)
      &:first-of-type
        margin-top    gs
      &.button
        border        0
        margin-top    0*gs
      @media all and (max-height: 240px)
        margin-top      1*gs
        &.button
          margin-top    -.2*gs
    // &.active
    //   border-bottom PX solid
  &__logo
    fill              c-orange
    rect              20*PX
  &__logo-link
    display           inline-block
    position          absolute
    left              4.5*gs
    top               3.5*gs
    +mobile()
      top             1.8*gs
      left            2*gs
  &__sandwich-menu
    display           none
    +mobile()
      display         block











  