@import '~imports.styl'


.hefty-content
  position        relative
  display         inline-block
  line-height     0
  &__curtain
    position absolute
    nw 0
    rect 100%
    background      rgba(c-creamy, .8)
    z-index         10
    border-radius  BRADIUS
