@import '../imports.styl'

{el = '.post-image'}
  position        relative
  max-width       40*gs
  &__image
    max-width     100%
  &__description
    font-size     14*PX
    color         #DDBCBD
    opacity       .7
    text-align    right
    margin-top    gs
    font-family   Verdana
    font-style    italic
  &--full-image-width
    {el}__image
      width       100%
