@import '../imports.styl'
@import '../blocks/shapes.styl'

cl-semi-orange = rgba(c-orange, .5)
{el = '.tutorials-sidebar'}
  position          relative
  text-align        left
  width             21*gs
  font-size         16*PX
  letter-spacing    PX
  height            100%
  overflow-x        hidden
  padding-left      3.5*gs 
  .is-safari &
    font-weight 900
  // overflow-y        auto
  &__header
    color           c-orange
    margin-bottom   .5*gs
  &__content
    border-right    PX solid cl-semi-orange
    padding-right   2*gs
    padding-top     .8*gs
    transition      transform .2s ease-out
    .is-header-pinned .sticky &
      transform translateY(9.5*gs)
  &__link
    color           c-white
    text-decoration none
    &.is-disabled
      text-decoration line-through
      opacity         1
      color           c-creamy-semi
      &:hover
        &:after
          opacity 1
      &:after
        opacity             0
        content             'soon!'
        position            absolute
        left                137*PX
        top                 50%
        font-size           10*PX
        color               rgba(#fff, .6)
        margin-top         -.7*gs
        background-color    #582A58
        padding             0 2*PX 0*PX 4*PX
        border-radius       BRADIUS
        border-top-right-radius     0
        border-bottom-right-radius  0
        rect auto
  &__section
    padding-bottom  3.5*gs
    {el}__link
      // margin-top    1.5*gs
      margin-top    1*gs
      line-height   1.5
      width         100%
  &__social-networks
    margin-left     3.5*gs
    margin-top      4.5*gs
    transform       scale(.85)
  .orx-line
    position        relative
    top             .6*gs
    width           200%
  .link
    &__underline
      background    c-orange
      top           50%
      margin-top   -2*PX
      left         -2*gs
      circle        4*PX
    
