@import '../imports.styl'

.button
  text-decoration none
  font-size       13*PX
  border          PX solid
  padding         1.1*gs 2.6*gs
  border-radius   4*PX
  text-align      center
  letter-spacing  .65*PX
  &--orange
    color c-orange
  &--green
    color c-green
  &--blue
    color c-blue
