@import '../imports.styl'

{el = '.easing-object'}
  rect            320*PX
  overflow        hidden
  background      c-creamy-semi
  border-radius   BRADIUS
  position        relative
  line-height     1.8
  &__label
    position          absolute
    left              50%
    bottom            2*gs
    transform         translateX(-50%)
    font-size         6*PX
    letter-spacing    PX
    background-color  c-white-transparent
    background-color  c-purple
    padding           0 6*PX
    border-radius     BRADIUS
    
  