@import '../imports.styl'

.social-networks
  &__icon
    float           left
    rect            28*PX
    &--twitter
      margin-right  4*gs
      fill          c-blue
    &--dribbble
      fill          c-pink