@import '../imports.styl'

.social-networks-about
  color             white
  color             rgba(white, .6)
  font-size         11*PX
  letter-spacing    PX
  width             18*gs
  text-align        center
  &__icons
    margin-bottom   6*gs
    display         inline-block
  &__link
    text-decoration none
    color           inherit